<div id='background-container'>
  <%= image_tag("cal.jpg", :id => 'background-img') %>
</div>
<div id='background-overlay2'>
</div>
<div id = "landingwrap">
  <div id ="chooseclasses">
    <h1 class = "title" id = "uppercase">Please choose classes</h1>
    <h2 class = "subtitle">Select a class you have taken, and a class you would like to received predictions for:</h2>
    <!--INSERT DROPDOWNS HERE -->
  </div>
</div>
<!-- CONTENT -->
<div id = "learnmore">
<center>
Cardigan whatever iPhone Truffaut. Hoodie organic ugh, meggings aesthetic freegan dreamcatcher hashtag brunch Odd Future mustache Wes Anderson leggings. Pinterest swag kogi, meh trust fund viral art party pour-over Marfa distillery hella slow-carb bicycle rights chambray single-origin coffee. Lo-fi yr gentrify, messenger bag Tonx kale chips roof party bicycle rights heirloom leggings locavore.
<br />
<br />
<table>
  <tr>
  <th> F </th> <th> D </th> <th> C </th> <th> B </th> <th> A </th>
  </tr>
<tr>
  <td> 10% </td> <td> 10% </td> <td> 20% </td> <td> 30% </td ><td> 30% </td>
</tr>
</table>
<!-- INSERT HISTOGRAM HERE -->
<!-- INSERT OPTION TO GENERATE ANOTHER DISTRIBUTION HERE -->
</center>
</div>
<!-- FOOTER -->
<div id = "footer">
  <div id = "copyright">
    Made by Ashvin Nair, Saavan Patel, Angira Shirahatti, Jason Tu & Roy Tu for CalHacks,  2014
  </div>
</div>