<div id='background-container'>
  <%= image_tag("cal.jpg", :id => 'background-img') %>
</div>
<div id='background-overlay2'>
</div>
<div id = "landingwrap" myClasses()>
  <div id ="chooseclasses">
    <h1 class = "title" id = "uppercase">Please choose classes</h1>
    <h2 class = "subtitle">Select a class you have taken, and a class you would like to received predictions for:</h2>
    <select id="select1" onchange="draw()">
    </select>
    <select id="select2" onchange="draw()">
    </select>
  </div>
</div>
<!-- CONTENT -->
<div id = "learnmore">
<center>
Cardigan whatever iPhone Truffaut. Hoodie organic ugh, meggings aesthetic freegan dreamcatcher hashtag brunch Odd Future mustache Wes Anderson leggings. Pinterest swag kogi, meh trust fund viral art party pour-over Marfa distillery hella slow-carb bicycle rights chambray single-origin coffee. Lo-fi yr gentrify, messenger bag Tonx kale chips roof party bicycle rights heirloom leggings locavore.
<br />
<br />
<table>
  <tr>
  <th class="no-color bar-container"><div class="bar" id="barF"></div></th>
  <th class="no-color bar-container"><div class="bar third-width" id="barDm"></div><div class="bar third-width" id="barD"></div><div class="bar third-width" id="barDp"></div></th>
  <th class="no-color bar-container"><div class="bar third-width" id="barCm"></div><div class="bar third-width" id="barC"></div><div class="bar third-width" id="barCp"></div></th>
  <th class="no-color bar-container"><div class="bar third-width" id="barBm"></div><div class="bar third-width" id="barB"></div><div class="bar third-width" id="barBp"></div></th>
  <th class="no-color bar-container"><div class="bar third-width" id="barAm"></div><div class="bar third-width" id="barA"></div><div class="bar third-width" id="barAp"></div></th>
  </tr>
  <tr>
  <th> F </th>
  <th> D </th>
  <th> C </th>
  <th> B </th>
  <th> A </th> 
  </tr>
<tr>
  <td id="percentF"> 0% </td>
  <td id="percentD"> 0% </td>
  <td id="percentC"> 0% </td>
  <td id="percentB"> 0% </td>
  <td id="percentA"> 0% </td>
</tr>
</table>
  <div id="canvas">

  </div>
</center>
</div>
<!-- FOOTER -->
<div id = "footer">
  <div id = "copyright">
    Made by Ashvin Nair, Saavan Patel, Angira Shirahatti, Jason Tu & Roy Tu for CalHacks,  2014
  </div>
</div>

<script type="text/javascript">
   myClasses(); allClasses();
</script>
