<%= form_for(@datum, :html => { :onsubmit => 'saveCookie();' }) do |f| %>

  <div class="field">
    <%= f.text_field :input, :id => "jsoninput" %>
  </div>
  <div class="actions">
    <%= f.submit "Alright, show me my future" %>
  </div>
  
<% end %>
